<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Social Media App
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
<!-- 	<div ng-controller="NavbarController as nav">
-->		<!--line 14 creates the navbar-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="home" class="navbar-brand" ui-sref="Home"><img src="http://www.karlwinsondance.moonfruit.com/communities/4/004/009/477/924/images/4595835138_50x50.png"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a ui-sref="createComment">Create Comment</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="!nav.status.isLoggedIn"><a ui-sref="Login">Login</a></li>
				<li ng-show="!nav.status.isLoggedIn"><a ui-sref="Register">Register</a></li>
				<li ng-show="nav.status.isLoggedIn"><a ng-click="nav.logout()">Logout</a></li>
				<li ng-show="nav.status.username"><a>{{nav.status.username}}</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<ui-view></ui-view>
<!-- Ext Libs -->
<script src="angular/angular.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- Global Src -->
<script src="/javascript/app.js"></script>
<!-- Factories -->
<script src="/javascript/services/HomeFactory.js"></script>
<script src="/javascript/services/userFactory.js"></script>

<!-- Controllers -->
<script src="/javascript/controllers/HomeController.js"></script>
<script src="/javascript/createComment/createCommentController.js"></script>
<script src="/javascript/createComment/navBarController.js"></script>

</body>
</html>